{% extends 'main.html' %}
{% block title%} Login page {% endblock %}
{% block content %}
<main>
    <div class="container text-center w-25 mt-5">
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control my-2">
        </div>
        <div>
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control my-2">
        </div>
        <button type="submit" class="btn btn-info my-2">Sign in</button>
    </form>
        <p>Don't have an account? <a href="{% url 'register-page' %}">Sign up</a></p>
    </div>
</main>
{% endblock %}