{% extends 'main.html' %}
{% block title%} Menu {% endblock %}
{% block content %}
<main>
    <div class="container-fluid">
        <div>
            <form action="{% url 'menu' %}" method="get">
                <input name="q" placeholder="Search for lessons" class="form-control my-2">
            </form>
        </div>
        <div class="row">
            <div class="col-md-2">
                {% for topic in topics %}
                <a href="{% url 'menu' %}?q={{topic.name}}" class="display-4 link-underline link-underline-opacity-0 link-opacity-25-hover">{{ topic.name }}</a><br>
                {% endfor %}
            </div>
            <div class="col-md-10">
                {% if lessons %}
                {% for lesson in lessons %}
                    <div class="container-fluid">
                        <a href="{% url 'profile-page' lesson.teacher.id %}" class="h3 link-underline link-underline-opacity-0 link-opacity-10-hover">{{lesson.teacher.username}}</a><br>
                        <a href="{% url 'lesson-page' lesson.id %}" class="fw-semibold fs-5 link-underline link-underline-opacity-0">{{lesson.name}}</a><br>
                        <p>{{ lesson.description|truncatewords:50 }}</p>
                    </div>
                {% endfor %}
                {% else %}
                <div class="container-fluid">
                    <p class="fs-3">That topic does not have any lessons</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}